@use "sass:map";
@use "../../../scss/variables";
@use "../../app.component.scss";

.grid {
  padding: 0 !important;
}

// .grid-row {
//   height: 100vh;
// }

.login-banner {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.login-form-col {
  padding: 35px 32px;
}

.oe-title {
  text-align: right;
  display: none;
  font-weight: 400 !important;
}

.login-button {
  width: 100%;
  margin-top: 48px;
}

.register-container {
  text-align: center;
  padding-top: 24px;
}

@media(min-width: map.get(variables.$grid-breakpoints, md)) {
  
}

@media(min-width: map.get(variables.$grid-breakpoints, lg)) {

  .oe-title {
    display: block;
  }

  .login-form-col {
    margin: 100px auto;
    max-width: 500px;
    padding-left: 32px;
    padding-right: 32px;
  }
}