<div
  nxLayout="grid nogutters"
  class="grid"
>
  <div nxRow class="grid-row">
    <div nxCol="12,12,12,7" #bannerCol class="banner-col">
      <div style="background-image: url(../../../assets/banner5.jpg);" class="login-banner"></div>
    </div>
    <div nxCol="12,12,12,5">
      <div class="login-form-col">
        <nx-link class="oe-title">Allianz Indonesia</nx-link>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginUser()">
          <nx-formfield label="User ID">
            <input nxInput type="text" formControlName="userId">
          </nx-formfield>
          <nx-formfield label="Password">
            <input nxInput type="password" #password formControlName="password">
            <nx-password-toggle [control]="password"></nx-password-toggle>
          </nx-formfield>
          <button nxButton="primary" type="submit" class="login-button">LOG IN</button>
        </form>
        <div class="register-container">
          New to MyAllianz? 
          <nx-link (click)="goToUserRegistration()">Register now</nx-link>
        </div>
      </div>
    </div>
  </div>
</div>