<div class="policy-servicing-banner">
  <div class="banner-content">
    <div class="banner-title">
      <p>Claims</p>
    </div>
  </div>
  <div>
    <div class="tab-content">
      <nx-tab-group>
        <nx-tab [label]="'Allianz Life (' + (claimList?.length || 0) + ')'">
          <div class="button-center-container">
            <button class="nxbutton" (click)="goToSubmit()">
              SUBMIT A CLAIM
            </button>
            <!-- 
            <nx-formfield
              label="Type in here to filter (e.g. Policy, Name)"
              negative="negative"
            >
              <input
                class="pagination-input"
                nxInput
                [ngModel]="filterValue"
                appearance="outline"
                (ngModelChange)="onFilterValueChange($event)"
              />
            </nx-formfield> -->

            <div class="scroll-container">
              <table
                nxTable
                nxSort
                (sortChange)="sortTable($event)"
                style="overflow: auto"
              >
                <thead>
                  <tr nxTableRow>
                    <th nxHeaderCell nxSortHeaderCell="policyId">Policy Number</th>
                    <th nxHeaderCell nxSortHeaderCell="claimType">
                      Claim Type
                    </th>
                    <th nxHeaderCell nxSortHeaderCell="claimDate">
                      Claim Date
                    </th>
                    <th nxHeaderCell nxSortHeaderCell="claimStatus">
                      Claim Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of policyClaimShownPageElements; track item) {
                  <tr nxTableRow (click)="goToDetails(item.claimId)">
                    <td nxTableCell style="color: deepskyblue">
                      <a>{{ item.policyNo }}</a>
                    </td>
                    <td nxTableCell>{{ item.claimType }}</td>
                    <td nxTableCell>{{ item.claimDate }}</td>
                    @if (item.claimStatus == 'Pending') {
                    <td NxTableCell class="dtc__td">
                      <nx-badge class="yellow">{{ item.claimStatus }}</nx-badge>
                    </td>
                    }@else if (item.claimStatus == 'Approved') {
                    <td NxTableCell class="dtc__td">
                      <nx-badge class="green">{{ item.claimStatus }}</nx-badge>
                    </td>
                    }@else if (item.claimStatus == 'Rejected') {
                    <td NxTableCell class="dtc__td">
                      <nx-badge class="red">{{ item.claimStatus }}</nx-badge>
                    </td>
                    }
                  </tr>
                  }
                </tbody>
              </table>
            </div>

            @if (policyClaimAvailableElements){
            <nx-pagination
              style="color: grey"
              class="pagination"
              [count]="policyClaimAvailableElements.length"
              [page]="page"
              type="advanced"
              [perPage]="elementsPerPage"
              (goPrev)="prevPage()"
              (goNext)="nextPage()"
              (goPage)="goToPage($event)"
            >
            </nx-pagination>
            }
          </div></nx-tab
        >
      </nx-tab-group>
    </div>
  </div>
</div>
