<div nxCol="12,12,12,12" class="policy-servicing-banner">
  <div class="banner-content">
    <div class="banner-title">
      <p>Policies</p>
    </div>
  </div>

  <div class="tab-content">
    <nx-tab-group>
      <nx-tab [label]="'Allianz Life (' + (policyProduct.length || 0) + ')'">
        @if (policyProduct) {
          <p>You have {{ policyProduct.length }} policies</p>
        }

        <div class="wrapper">
          <nx-formfield label="Type in here to filter (e.g. Policy, Name)" negative="negative" >
            <input
              class="pagination-input"
              nxInput
              [ngModel]="filterValue"
              appearance="outline"
              (ngModelChange)="onFilterValueChange($event)"
            />
          </nx-formfield>

          <!--  <p nxCopytext class="nx-margin-bottom-2xs" style="color: #0a1f33">-->
          <!--    Matching items: {{policyProductAvailableElements.length}}-->
          <!--  </p>-->
          <div class="scroll-container">
            <table nxTable nxSort (sortChange)="sortTable($event)" style="overflow: auto">
              <thead>
              <tr nxTableRow>
                <th nxHeaderCell nxSortHeaderCell="policyNumber">Policy No</th>
                <th nxHeaderCell nxSortHeaderCell="insuredName">Insured Name</th>
                <th nxHeaderCell >Premium Amount</th>
                <th nxHeaderCell nxSortHeaderCell="effectiveDate">Effective Date</th>
                <th nxHeaderCell nxSortHeaderCell="expiryDate">Expiry Date</th>
                <th nxHeaderCell nxSortHeaderCell="status">Status</th>
              </tr>
              </thead>
              <tbody>
                @for (item of policyProductShownPageElements; track item) {
                  <tr nxTableRow (click)="goToDetail(item.policyId)">
                    <td nxTableCell style="color: deepskyblue">
                      <a>{{item.quotationNumber}}</a>
                    </td>
                    <td nxTableCell>{{ item.personalDetails.fullName }}</td>
                    <td nxTableCell>{{ item.plan.premiumAmount }}</td>
                    <td nxTableCell>{{ item.startDate | date: 'dd MMM yyyy' }}</td>
                    <td nxTableCell>{{ item.endDate | date: 'dd MMM yyyy' }}</td>
                    <td nxTableCell>
                      <nx-badge [ngClass]="{ 'badge-green': item.status === 'ACTIVE' }">
                        {{ item.status === 'ACTIVE' ? 'In Force' : item.status }}
                      </nx-badge>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>

          <nx-pagination
            style="color: grey;"
            class="pagination"
            [count]="policyProductAvailableElements.length"
            [page]="page"
            type="advanced"
            [perPage]="elementsPerPage"
            (goPrev)="prevPage()"
            (goNext)="nextPage()"
            (goPage)="goToPage($event)"
          >
          </nx-pagination>
        </div>
      </nx-tab>
    </nx-tab-group>
  </div>
</div>
