<table nxTable class="info_table">
  @for (item of quotationSummary; track $index) {
    @if ($index === 0) {
      <tr nxTableRow class="text-red summary-row">
        <td colspan="2"><b>{{ item.title }}</b></td>
      </tr>
    } @else if ($index === quotationSummary.length - 1) {
      <tr nxTableRow class="text-red summary-last">
        <td><b>{{ item.title }}</b></td>
        <td class="text-right"><b>{{ item.desc }}</b></td>
      </tr>
    } @else {
      <tr nxTableRow class="text-gray summary-row">
        <td>{{ item.title }}</td>
        <td class="text-right">{{ item.desc }}</td>
      </tr>
    }
  }
</table>
