@if (loading$ | async) {
  <div class="loading-container">
    <nx-spinner
      size="large"
      [activationAnnouncement]="'Loading large data'"
      [completionAnnouncement]="'Done loading large data'"
    ></nx-spinner>
  </div>
}

<div class="site-wrapper">
  @if (showSiteHeader == true) {
    <app-site-header></app-site-header>
  }
  <div class="site-main" #siteMain>
    <router-outlet></router-outlet>
  </div>
  @if (showSiteFooter === true) {
    <app-site-footer id="siteFooter"></app-site-footer>
  }
</div>